<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Kanidm Client Tools"
    Manufacturer="Kanidm"
    Version="$(var.ProductVersion)"
    UpgradeCode="7E3BAF25-711A-4C07-8685-FD91121C1C16"
    Scope="perMachine"
    Compressed="yes">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of the Kanidm Client Tools is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Kanidm">
        <Component Id="KanidmClient" Guid="D72FC7B6-9C73-463C-80BA-16A81498556D">
          <File Id="KanidmExe" Source="$(var.ClientExe)" KeyPath="yes" />
          <Environment
            Id="KanidmPath"
            Name="PATH"
            Value="[INSTALLFOLDER]"
            Action="set"
            Part="last"
            Permanent="no"
            System="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Title="Kanidm Client Tools" Level="1">
      <ComponentRef Id="KanidmClient" />
    </Feature>
  </Package>
</Wix>
